* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

.img-container {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: relative;
}

.img-box {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px; */
    position: relative;
    /* flex-direction: column; */
    /* overflow: hidden; */
}

.img-box h1 {
    font-size: 6vw;
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 10;
    position: relative;
}

.img-box img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}